/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Inter:wght@300;400;700&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

@import url('components/banner.css');
@import url('components/cards.css');
@import url('components/buttons.css');
@import url('components/footer.css');

/* Utilities */
body {
  margin: 0;
  font-family: 'DM Mono';
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-family: 'Inter';
  font-weight: 700;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

/* Custom design below! */

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: 300px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    width: 700px;
  }
}
